.country-main {
  .to-back-btn {
    padding: 8px 40px;
    border-radius: 4px;
    &:active {
      transform: scale(1.02);
    }
    .to-back-btn-text {
      margin-left: 10px;
    }
  }
  .country-img-box {
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    border-radius: 4px;
  }
  .country-text-wrapper {
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    .country-name {
      font-weight: 600;
    }
    span {
      font-size: 15px;
    }
    .country-info-wrapper {
      p {
        font-weight: 200;
        span {
          margin-right: 5px;
          &.prop {
            display: inline-block;
            font-weight: 500;
            margin-bottom: 5px;
          }
        }
      }
    }

    .border-countries {
      display: flex;
      align-items: center;
      .prop {
        display: inline-block;
        font-weight: 500;
      }
      .border-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        li {
          padding: 5px 15px;
          margin: 5px;
          border-radius: 4px;
        }
      }
    }
  }
}
