header {
  padding: 25px 0;
  position: relative;
  z-index: 1;

  h2 {
    &.title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .mode {
    cursor: pointer;
    display: flex;
    align-items: center;
    .icon-box {
      margin-right: 10px;
      i {
        transition: all 0.5s;
      }
    }
  }
}
