$forDark-primary-clr: #2b3743;
$forDark-secondary-clr: #222e37;
$forDark-shodow-clr: #1a1f24;
$forDark-light-clr: #fff;
$forDark-dark-clr: #000;
$forDark-out-clr: #ffffffe7;
$forDark-filter-bg: #ffffff15;
$forDark-btn-bg: #334252;
$forDark-btn-bg2: #394a5c;
$forDark-shadow2-clr: #000000b3;
$forDark-spin-bg-clr: #24d3ca;

$forLight-primary-clr: #ffffff;
$forLight-secondary-clr: #fafafa;
$forLight-shodow-clr: #00000014;
$forLight-dark-clr: #000000;
$forLight-light-clr: #ffffff;
$forLight-out-clr: #000000e7;
$forLight-filter-bg: #00000015;
$forLight-btn-bg: #c4cbd0;
$forLight-btn-bg2: #7d8996;
$forLight-shadow2-clr: #847f7fb3;
$forLight-spin-bg-clr: #0d524e;
